{% extends 'baseNewC.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
 <!-- inner page section -->
     <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Contact <span>Us</span>
               </h2>
               {% for flashError in app.flashes ('message') %}
<div class="alert alert-success" role="alert">{{ flashError }}</div>
{% endfor %}
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
         
            <div class="row">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                        <form class="au-form-icon--sm" action="" method="post">
                                    <div class="full">
                                   {{form(form)}}
                                   
                                </form>
 <section class="product_section layout_padding">
         <div class="container">    
<div class="btn-box">
              <button type="submit"><a>
               Send</a>
               </button>
            </div></div></section>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end why section -->
      
{% endblock %}