{% extends 'baseA2.html.twig' %}

{% block title %}Add {% endblock %}

{% block body %}

 <div class="page-wrapper">
       
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                        </div>

    <center><h3 class="title-5 m-b-35"> Add Announces </h3></center>
    {{ form(form) }}

</div>
</div>
</div>
</div>
</div>
{% endblock %}
